@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --purple: #0E0C2D;
    --yellow: #FAB26C;
    --white: #ffffff;
}

body {
    background: var(--purple);
    color: var(--white);
    font-family: 'Bebas Neue';
}

h1 {

}